$white: #fff;
$black: #0b1f33;
$gray: #a6b1bd;
$light-gray: #dfe3ec;
$dark-gray: #66727f;

$active: #1d5deb;
$active-hover: #6794f9;
$tagline-light: #eff4ff;
$tagline-dark: #d3ddf4;
$blue: #0d4cd3;

$background: #f1f7ff;
$input: #f5f7fa;
$input-disable: #dbdfe8;
$divider: #99b1e6;
$disabled: #d1d5df;

$dark-summer: #0b1f33;
$light-summer: #30475e;
