.title {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.post_number {
  margin-right: 12px;
}

.text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.button {
  margin-top: 24px;
}
